.actions-td{
    display: flex;
    place-items: flex-end;
    justify-content: space-evenly;
}

#output {
    padding: 20px;
    background: #dadada;
}

#select-related {
    width: 300px;
}

.dz-image img{
    width: 100%;
}

#edit-news-form .dz-filename{
    display: none;
}

#edit-news-form .dz-progress{
    display: none;
}

td:has(img[alt='Folder Icon']){
    text-align: center;
}
.landing-page nav{
    background-color: #3c9f9f !important;
}
.carousel-caption {
    padding: 60px;
}
#inSlider .header-back{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#most-viewed{
    margin-top: 80px;
}
#most-viewed > section {
    display: flex;
}
#most-viewed .left-side {
    width: 50%;
}
#most-viewed .right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#most-viewed .right-side > .bottom{
    display: flex;
}
#most-viewed .article {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#categories{
    margin-top: 80px;
    text-align: center;
}
#categories > section{
    display: flex;
    justify-content: space-between;
}
#latest{
    margin-top: 80px;
}
#latest > .row{
    background-color: #f3f3f4;
}
.product-imitation{
    padding: 0;
}
#front-page-wrapper{
 margin-top: 150px;
}
